.form-container {
  max-width: fit-content;
  padding: 20px;
  margin: 0 auto;
  }

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
  }
  
  .form-row .form-group {
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 1rem;
  }
  
  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 
  }

 