.contactPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  max-width: 70vw;
  max-height: 100vh;
  display: flex;
  padding: 20px;
  margin-top: 40px;
}