.footer {
    width: 100%;
    height: 200px;
    background: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    margin-top: 200px;
    position:initial;
    bottom: 0%;
}

.socialMedia svg {
    color: white;
    margin: 20px;
    font-size: 70px;
    cursor: pointer;
}

.footer p {
    color: white
}
