.Intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4% auto;
  max-width: 800px;
}

.Intro_content {
  text-align: left;
}

.Tldr {
  margin-top: -4%;
  text-align: center;
}

.Featured {
  margin-top: -5%;
}

.BodyText_intro {
  padding-top: 20px;
}
