.Intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4%;
}

.Tldr {
  margin-top: -4%;
}

.Featured {
  margin-top: -5%;
}

.Body_text_intro {
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
