.Newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Newsletter_content {
  padding: 20px;
}

.Newsletter_heading {
  padding-top: 20px;
}

.BodyText {
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.Newsletter .ProfileImage {
  height: 194px;
  width: 194px;
  border-radius: 40%;
  margin: 0 auto;
}
